IATecVenda/bin/Debug/net8.0/appsettings.Development.json
IATecVenda/bin/Debug/net8.0/appsettings.json
IATecVenda/bin/Debug/net8.0/IATecVenda.deps.json
IATecVenda/bin/Debug/net8.0/IATecVenda.dll
IATecVenda/bin/Debug/net8.0/IATecVenda.exe
IATecVenda/bin/Debug/net8.0/IATecVenda.pdb
IATecVenda/bin/Debug/net8.0/IATecVenda.runtimeconfig.json
IATecVenda/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
IATecVenda/bin/Debug/net8.0/Microsoft.OpenApi.dll
IATecVenda/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
IATecVenda/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
IATecVenda/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
IATecVenda/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
IATecVenda/obj/Debug/net8.0/apphost.exe
IATecVenda/obj/Debug/net8.0/IATecVenda.AssemblyInfo.cs
IATecVenda/obj/Debug/net8.0/IATecVenda.AssemblyInfoInputs.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.assets.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.csproj.AssemblyReference.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.csproj.CoreCompileInputs.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.csproj.FileListAbsolute.txt
IATecVenda/obj/Debug/net8.0/IATecVenda.csproj.Up2Date
IATecVenda/obj/Debug/net8.0/IATecVenda.dll
IATecVenda/obj/Debug/net8.0/IATecVenda.GeneratedMSBuildEditorConfig.editorconfig
IATecVenda/obj/Debug/net8.0/IATecVenda.genruntimeconfig.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.GlobalUsings.g.cs
IATecVenda/obj/Debug/net8.0/IATecVenda.MvcApplicationPartsAssemblyInfo.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.MvcApplicationPartsAssemblyInfo.cs
IATecVenda/obj/Debug/net8.0/IATecVenda.pdb
IATecVenda/obj/Debug/net8.0/IATecVenda.sourcelink.json
IATecVenda/obj/Debug/net8.0/staticwebassets.build.json
IATecVenda/obj/Debug/net8.0/ref/IATecVenda.dll
IATecVenda/obj/Debug/net8.0/refint/IATecVenda.dll
IATecVenda/obj/Debug/net8.0/staticwebassets/msbuild.build.IATecVenda.props
IATecVenda/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.IATecVenda.props
IATecVenda/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.IATecVenda.props
.vscode/launch.json
