IATecVenda.sln
IATecVenda/bin/Debug/net8.0/appsettings.Development.json
IATecVenda/bin/Debug/net8.0/appsettings.json
IATecVenda/bin/Debug/net8.0/IATecVenda.deps.json
IATecVenda/bin/Debug/net8.0/IATecVenda.dll
IATecVenda/bin/Debug/net8.0/IATecVenda.exe
IATecVenda/bin/Debug/net8.0/IATecVenda.pdb
IATecVenda/bin/Debug/net8.0/IATecVenda.runtimeconfig.json
IATecVenda/bin/Debug/net8.0/IATecVenda.staticwebassets.endpoints.json
IATecVenda/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
IATecVenda/bin/Debug/net8.0/Microsoft.OpenApi.dll
IATecVenda/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
IATecVenda/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
IATecVenda/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
IATecVenda/obj/IATecVenda.csproj.nuget.dgspec.json
IATecVenda/obj/IATecVenda.csproj.nuget.dgspec.json
IATecVenda/obj/IATecVenda.csproj.nuget.g.props
IATecVenda/obj/project.assets.json
IATecVenda/obj/project.nuget.cache
IATecVenda/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
IATecVenda/obj/Debug/net8.0/apphost.exe
IATecVenda/obj/Debug/net8.0/IATecVenda.AssemblyInfo.cs
IATecVenda/obj/Debug/net8.0/IATecVenda.AssemblyInfoInputs.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.assets.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.csproj.AssemblyReference.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.csproj.CoreCompileInputs.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.csproj.FileListAbsolute.txt
IATecVenda/obj/Debug/net8.0/IATecVenda.csproj.Up2Date
IATecVenda/obj/Debug/net8.0/IATecVenda.dll
IATecVenda/obj/Debug/net8.0/IATecVenda.GeneratedMSBuildEditorConfig.editorconfig
IATecVenda/obj/Debug/net8.0/IATecVenda.genruntimeconfig.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.GlobalUsings.g.cs
IATecVenda/obj/Debug/net8.0/IATecVenda.MvcApplicationPartsAssemblyInfo.cache
IATecVenda/obj/Debug/net8.0/IATecVenda.MvcApplicationPartsAssemblyInfo.cs
IATecVenda/obj/Debug/net8.0/IATecVenda.pdb
IATecVenda/obj/Debug/net8.0/IATecVenda.sourcelink.json
IATecVenda/obj/Debug/net8.0/staticwebassets.build.endpoints.json
IATecVenda/obj/Debug/net8.0/staticwebassets.build.json
IATecVenda/obj/Debug/net8.0/ref/IATecVenda.dll
IATecVenda/obj/Debug/net8.0/refint/IATecVenda.dll
IATecVenda/obj/Debug/net8.0/staticwebassets/msbuild.build.IATecVenda.props
IATecVenda/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.IATecVenda.props
IATecVenda/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.IATecVenda.props
IATecVenda/Properties/launchSettings.json
IATecVenda.Tests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_IATecVenda.Tests
IATecVenda.Tests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_Tests.Tests
IATecVenda.Tests/bin/Debug/net9.0/appsettings.Development.json
IATecVenda.Tests/bin/Debug/net9.0/appsettings.json
IATecVenda.Tests/bin/Debug/net9.0/Castle.Core.dll
IATecVenda.Tests/bin/Debug/net9.0/CoverletSourceRootsMapping_IATecVenda.Tests
IATecVenda.Tests/bin/Debug/net9.0/CoverletSourceRootsMapping_Tests.Tests
IATecVenda.Tests/bin/Debug/net9.0/IATecVenda.deps.json
IATecVenda.Tests/bin/Debug/net9.0/IATecVenda.dll
IATecVenda.Tests/bin/Debug/net9.0/IATecVenda.exe
IATecVenda.Tests/bin/Debug/net9.0/IATecVenda.pdb
IATecVenda.Tests/bin/Debug/net9.0/IATecVenda.runtimeconfig.json
IATecVenda.Tests/bin/Debug/net9.0/IATecVenda.staticwebassets.endpoints.json
IATecVenda.Tests/bin/Debug/net9.0/IATecVenda.Tests.deps.json
IATecVenda.Tests/bin/Debug/net9.0/IATecVenda.Tests.dll
IATecVenda.Tests/bin/Debug/net9.0/IATecVenda.Tests.pdb
IATecVenda.Tests/bin/Debug/net9.0/IATecVenda.Tests.runtimeconfig.json
IATecVenda.Tests/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
IATecVenda.Tests/bin/Debug/net9.0/Microsoft.OpenApi.dll
IATecVenda.Tests/bin/Debug/net9.0/Microsoft.TestPlatform.CommunicationUtilities.dll
IATecVenda.Tests/bin/Debug/net9.0/Microsoft.TestPlatform.CoreUtilities.dll
IATecVenda.Tests/bin/Debug/net9.0/Microsoft.TestPlatform.CrossPlatEngine.dll
IATecVenda.Tests/bin/Debug/net9.0/Microsoft.TestPlatform.PlatformAbstractions.dll
IATecVenda.Tests/bin/Debug/net9.0/Microsoft.TestPlatform.Utilities.dll
IATecVenda.Tests/bin/Debug/net9.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
IATecVenda.Tests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.Common.dll
IATecVenda.Tests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
IATecVenda.Tests/bin/Debug/net9.0/Moq.dll
IATecVenda.Tests/bin/Debug/net9.0/Newtonsoft.Json.dll
IATecVenda.Tests/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
IATecVenda.Tests/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
IATecVenda.Tests/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
IATecVenda.Tests/bin/Debug/net9.0/testhost.dll
IATecVenda.Tests/bin/Debug/net9.0/testhost.exe
IATecVenda.Tests/bin/Debug/net9.0/Tests.Tests.deps.json
IATecVenda.Tests/bin/Debug/net9.0/Tests.Tests.dll
IATecVenda.Tests/bin/Debug/net9.0/Tests.Tests.pdb
IATecVenda.Tests/bin/Debug/net9.0/Tests.Tests.runtimeconfig.json
IATecVenda.Tests/bin/Debug/net9.0/xunit.abstractions.dll
IATecVenda.Tests/bin/Debug/net9.0/xunit.assert.dll
IATecVenda.Tests/bin/Debug/net9.0/xunit.core.dll
IATecVenda.Tests/bin/Debug/net9.0/xunit.execution.dotnet.dll
IATecVenda.Tests/bin/Debug/net9.0/xunit.runner.reporters.netcoreapp10.dll
IATecVenda.Tests/bin/Debug/net9.0/xunit.runner.utility.netcoreapp10.dll
IATecVenda.Tests/bin/Debug/net9.0/xunit.runner.visualstudio.testadapter.dll
IATecVenda.Tests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
IATecVenda.Tests/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
IATecVenda.Tests/obj/IATecVenda.Tests.csproj.nuget.dgspec.json
IATecVenda.Tests/obj/IATecVenda.Tests.csproj.nuget.g.props
IATecVenda.Tests/obj/IATecVenda.Tests.csproj.nuget.g.targets
IATecVenda.Tests/obj/project.assets.json
IATecVenda.Tests/obj/project.nuget.cache
IATecVenda.Tests/obj/Tests.Tests.csproj.nuget.dgspec.json
IATecVenda.Tests/obj/Tests.Tests.csproj.nuget.g.props
IATecVenda.Tests/obj/Tests.Tests.csproj.nuget.g.targets
IATecVenda.Tests/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.AssemblyInfo.cs
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.AssemblyInfoInputs.cache
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.assets.cache
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.csproj.AssemblyReference.cache
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.csproj.CoreCompileInputs.cache
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.csproj.FileListAbsolute.txt
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.dll
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.GeneratedMSBuildEditorConfig.editorconfig
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.genruntimeconfig.cache
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.GlobalUsings.g.cs
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.pdb
IATecVenda.Tests/obj/Debug/net9.0/IATecVenda.Tests.sourcelink.json
IATecVenda.Tests/obj/Debug/net9.0/Tests.Te.92E4A32C.Up2Date
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.AssemblyInfo.cs
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.AssemblyInfoInputs.cache
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.assets.cache
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.csproj.AssemblyReference.cache
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.csproj.CoreCompileInputs.cache
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.csproj.FileListAbsolute.txt
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.dll
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.GeneratedMSBuildEditorConfig.editorconfig
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.genruntimeconfig.cache
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.GlobalUsings.g.cs
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.pdb
IATecVenda.Tests/obj/Debug/net9.0/Tests.Tests.sourcelink.json
IATecVenda.Tests/obj/Debug/net9.0/ref/IATecVenda.Tests.dll
IATecVenda.Tests/obj/Debug/net9.0/ref/Tests.Tests.dll
IATecVenda.Tests/obj/Debug/net9.0/refint/IATecVenda.Tests.dll
IATecVenda.Tests/obj/Debug/net9.0/refint/Tests.Tests.dll
IATecVenda/obj/project.assets.json
IATecVenda/obj/IATecVenda.csproj.nuget.g.props
IATecVenda/obj/project.nuget.cache
IATecVenda/obj/project.assets.json
IATecVenda/obj/project.nuget.cache
IATecVenda/Properties/launchSettings.json
IATecVenda/obj/project.assets.json
